{% extends './base.html' %}
{% block content %}
<style type="text/css">
	.container {
		background: #DDD;
	}
</style>
<center>
	<h2>Editando um funcionário</h2>
	<br>
	<div class="container">	
		<form method="POST" action="../editando/">{% csrf_token %}
			<div class="form-row col-sm-2 col-form-label">
				<input type="text" name="id" hidden="true" value="{{funcionario.get_id}}"> 
			</div>
			<div class="form-row col-sm-6 col-form-label">
				<label for="name">Nome</label>
				<div class="col"><input type="text" name="name" class="form-control" placeholder="Júlia Eduarda" required="true" value="{{funcionario.get_name}}"></div>
			</div>
			<div class="form-row col-sm-6">
				<label for="function">Função</label>
				<div class="col"><input type="text" name="function" class="form-control" placeholder="Desenvolvedor" required="true" value="{{funcionario.get_function}}"></div>
				<label for="salary">  Salário </label>
				<div class="col"><input type="text" name="salary" class="form-control" placeholder="199.99" required="true"  value="{{funcionario.get_salary}}"></div>
			</div>
			<br>
			<div class="form-row col-sm-3">
				<button class="col btn btn-dark" type="submit" name="">Editar</button>
			</div>
			<br>
		</form>
	</div>
</center>
{% endblock %}