<!DOCTYPE html>
<html>
	<head>
		<title>EMPRESA CHARTOS</title>
	</head>
	<body>
		<center>
			<h2>Adicionando um novo funcionário</h2>
			<form method="POST" action="../editando/">{% csrf_token %}
				<input type="text" name="id" value="{{req.GET['id']}}"><!--Tentar pegar parametro-->
				<label for="name">Nome: </label><input type="text" name="name" value="{{funcionario.get_name}}"><br><br>
				<label for="function">Função: </label><input type="text" name="function" value="{{funcionario.get_function}}"><br><br>
				<label for="salary">Salário: </label><input type="text" name="salary" value="{{funcionario.get_salary}}"><br><br>

				<input type="submit" name="" value="Finalizar Edição">
			</form>
		</center>
	</body>
</html>