{% extends './base.html' %}
{% block content %}
<center>
	<style type="text/css">
		a{
			color:white;
		},
		.table{
			margin-left: auto;
			margin-right: auto;
		},
		.container {
			background: #DDD;
		}
	</style>
	<h1 class="text-uppercase">Bem vindo a área de administração dos funcionários</h1>
	<p style="font-size: 18px">{{desc}}</p>
	
	<div class="container">
	<!--Impressão da lista.-->
	{% if lista %}
		<table class="table">
			<thead class="thead-dark text-center">
				<tr>
				    <th scope="col">ID</th>
				    <th scope="col">Nome</th>
				    <th scope="col">Função</th>
				    <th scope="col">Salário</th>
				    <th><a href="./adicionar" class="btn btn-success btn-sm">Adicionar</a></th>
			  	</tr>
		  	</thead>
		{% for obj in lista %}
			<tbody>
				<tr class="text-center">
				    <td scope="row">{{ obj.get_id }}</td>
				    <td><b>{{ obj.get_name }}</b></td>
				    <td>{{ obj.get_function }}</td>
				    <td><b>{{ obj.get_salary }} R$</b></td>
				    <td>
					    <a href="./edite/?id={{obj.get_id}}" class="btn btn-primary btn-lg">Editar</a>
					    <a href="./delete/?id={{obj.get_id}}" class="btn btn-danger btn-lg">Excluir</a>
					</td>
			  	</tr>
			</tbody>
		{% endfor %}
		</table>
	{% else %}
		<p>Não existe nada no banco</p>
	{% endif %}
	</div>
</center>
{% endblock %}