<!DOCTYPE html>
<html>
	<head>
		<title>EMPRESA CHARTOS</title>
		<style type="text/css">
			table, th, td {
			  border: 1px solid black;
			  border-collapse: collapse;
			}
			table.center {
			  margin-left: auto;
			  margin-right: auto;
			}
			th, td {
			  padding: 10px;
			}
			th{
			  background-color: grey;
			}
		</style>
	</head>
	<body>
		<center>LISTA DE FUNCIONÁRIOS</center>
		{% if lista %}
			{% for obj in lista %}
				<p>{{ obj }}</p>
			{% endfor %}
		{% else %}
			<p>Não existe nada no banco</p>
		{% endif %}	
	</body>
</html>